input
input/
slurm/.pipeline

analysis/*.csv
analysis/*.pdf

src/**/*.csv
src/**/*.feather
src/**/*.parquet

**/output
**/output/
**/target/

**/.cache/
**/__pycache__/
**/*.py[oc]
**/build/
**/dist/
**/wheels/
**/*.egg-info
**/.venv

**/.settings
**/.classpath
**/.project
