input
input/
slurm/.pipeline

analysis/*.csv
analysis/*.pdf
analysis/*.txt

src/**/*.csv
src/**/*.feather
src/**/*.parquet

!src/ours-python-commsearch/tests/data/*.feather

**/output
**/output/
**/target/

**/.cache/
**/__pycache__/
**/*.py[oc]
**/build/
**/dist/
**/wheels/
**/*.egg-info
**/.venv

**/.settings
**/.classpath
**/.project
